<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny.fy</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}style.css" type="text/css">
  </head>

<body>
	<div id="header">
  	</div>
  	
  	<div id="main">
	<div id="container">
		<div id="logo">
			<a href="#"><img src="{{ MEDIA_URL }}logo.png"  alt="tiny.fy"/></a>
			
		</div>
		<div id="urlfield">
				<form action="/show/" method="post">
				{% csrf_token %}
					<input id="inputef" type="url" placeholder="enter URL, Eg. http://www.google.com" name="longurl"  />
					<input id="geturl"  type="submit" value="Get URL" />
					
				
			</div>
	</div>
 <!--container div above -->
 </div>
 
 <!-- main div above-->
</body>
</html>